.main {
    background-color: #424D4D;
    padding-top: 6%;
    min-height: 100vh;
}

.presentation h1{
    background: -webkit-linear-gradient(top, #23CE6B 10%, #EDF5FC 90%);
	background-clip: border-box;
	background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    margin-bottom: 8%;
}

.one {
    background-color: #424D4D;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    justify-content: center; 
}

@media (min-width:1280px)
{
    .one {
        background-color: #424D4D;
        margin-top: 5%;
        justify-content: center;
        display: flex;
        align-items: center;
        justify-content: center; 
    }
}

h2{
	color: #B8C5D6;
}
img{
    max-width: 200px; /* Limiter la largeur de l'image */
    display: block; /* Pour centrer l'image */
    margin: 0 auto; /* Pour centrer l'image */
    margin-top: 5%;
}

.presentation{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
}

@media (min-width: 1300px) {
	.presentation{
		margin-left: 5%;
		}
}

.sudoku {
    background-color: #EDF5FC;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    transition: 1s;
}

@media (min-width: 1300px) {
	.sudoku{
    	margin-right: 5%;
	}
}

@media (max-width: 800px) {
	.sudoku{
		width: 300px;
		height: 300px;
	}
}
/*
.sudoku:hover{
    transform: rotate(360deg);
}*/


.sudoku .grid {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    transition: 1s ;
    position: relative;
    overflow: hidden;
}

.sudoku .cell {
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
    user-select: none;
    align-items: center;
    justify-content: center;
    display: flex;
}

.sudoku .play:hover {
    transform: scale(1.05);
    border: 2px solid black; 
    background-color: #A39BA8;
}

.play:hover .cell{
    filter: blur(2px); 
}


.sudoku .play-hover {
    transform: scale(1.05);
    border: 2px solid black; 
    background-color: #A39BA8;
}

.play-hover .cell{
    filter: blur(2px); 
}



.grid .pages{
    display: none;
    align-self: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    user-select: none;
    background-color: #B8C5D6;
    color:black;
    padding: 2%;
    border-radius: 2px;
    font-size: 20px;
    cursor: pointer;
}

.play-hover .pages{
    display: inline;
}
.play:hover .pages{
    display: inline;
}

.defenses{
    display: inline;
    margin-left: auto;
  margin-right: auto;
}

.hidden{
    display: none;
}

@media (max-width:850px) {
	.sudoku .play {
		transform: scale(1.05);
		border: 2px solid black; 
		background-color: #A39BA8;
	}
	.play .cell{
		filter: blur(2px); 
	}
	.play .pages{
		display: inline;
	}
	.sudoku{
		order:1;
	}
	.sec{
		order:2;
	}
	.one{
		display: grid;
	}
}
@media (max-width:1280px) {
	.sudoku{
		order:1;
	}
	.sec{
		order:2;
	}
	.one{
		display: grid;
	}
}



.defenses h1{
	background: -webkit-linear-gradient(top, #23CE6B 10%, #EDF5FC 90%);
	background-clip: border-box;
	background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    margin-bottom: 8%;
    text-align: center;
}

.defenses .col:not(:nth-child(2)){
	margin-bottom: 4%;
}

.row{
	justify-content: center;
	gap: 4%;
}

@media (min-width:767px) {
	.row {
		display: flex;
	}
}

.content {
	display: flex;
	flex-direction: column;
}

.liste-sout {
	text-align: left;
	font-size: 17px;
	letter-spacing: -1px;
	margin-left: 7%;

}

.defenses h2 {
	font-size: 2rem;
	letter-spacing: -2px;
	text-align: center;
	line-height: 1.1;
	margin-bottom: 3%;
}
  

.text-box {
	margin-top: 10px;
	display: flex;
	justify-content: center;
	background: -webkit-linear-gradient(top, #23CE6B 10%, #EDF5FC 90%);
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	border: black;
}

.bouton {
	display: inline-block;
	text-decoration: none;
	color: #23CE6B;
	border: 2px solid black;
	padding: 15px 15px;
	font-size: 20px;
	background: transparent;
	position: relative;
	cursor: pointer;
	background: rgba(0,0,0,.6);
	font-variant: small-caps;
	margin-top: 2%;
}

.bouton:hover {
	border: 1px solid #1e224c;
	background: #1e224c;
	transition: 1s;
}
  a:hover {
	color: #0a58cb;
  }

  .defenses li{
    color:white;
  }




  /* About */



.members .col img{
	padding-top: 5%;
	width: 50%;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle; /* aligner verticalement les images */
}

.members h1{
	text-align: center;
	background: -webkit-linear-gradient(top, #23CE6B 10%, #EDF5FC 90%);
	background-clip: border-box;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-size: 36px;
	letter-spacing: -3px;
	padding-bottom: 1%;
	padding-top: 2%;
}

.members .col{
	background: #B8C5D6;
	text-align: center;
	padding: 3%;
	border-radius: 10px;
	border: 2px solid #1e224c;
	display: flex;
    flex-direction: column;
    justify-content: center;
	transition: 0.5s;
}

.members .col:hover{
	transform: rotate(2deg) scale(1.05);
	box-shadow: 0 0 15px #23CE6B;
	z-index:10;
}


.members .grid{
	padding: 3% 10% 0% 10%;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); 
    grid-column-gap: 10px; 
    grid-row-gap: 30px;
  }


  @media (min-width:1001px)
  {
	.members .grid{
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(4, auto); 
	  }
  }

  @media (max-width:767px)
  {
	.members .grid{
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, auto); 
	  }
  }

.members h4{
	font-family: 'EB Garamond', serif;
  	font-size: 17px;
  	margin-bottom: .475rem;
  	margin-top: 3%;
}

.members h3{
	letter-spacing: -1.5px;
	font-size: 1.3rem;
	font-weight: 900;
}



/* Docs */

.ressources-docs{
    margin-left: auto;
    margin-right: auto;
}

.ressources-docs h1{
	background: -webkit-linear-gradient(top, #23CE6B 10%, #EDF5FC 90%);
	background-clip: border-box;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	padding-top: 40px;
	font-size: 36px;
	text-align: center;
	letter-spacing: -3px;
	line-height: 1.1;
}

.ressources-docs a {
	font-size: 1.75rem;
	letter-spacing: -1.5px;
	text-decoration: none;
	color: black;
	font-weight: 700;
	letter-spacing: -2px;
	transition: 0.5s;
}


.ressources-docs .grid div:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
	z-index:10;
	cursor: pointer;
    color: #353e9b;
}

.ressources-docs .grid{
	padding: 3% 10% 5% 10%;
	text-align: center;
}

@media (min-width:767px) {
	.grid{
		display: flex;
	}
}

.ressources-docs .grid div {
	border-radius: 10px;
	padding: 3% 4% 3% 4%;
	background: #B8C5D6;
	transition: all 0.5s ease-out;
}


.ressources-docs .grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); 
    grid-column-gap: 10px; 
    grid-row-gap: 30px;
  }

  

  @media (min-width:767px) and (max-width:1001px) 
    {
	.last-item{
		grid-column: 1/span 2;
	  }
  }

  @media (min-width:1001px)
  {
	.ressources-docs .grid{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto); 
	  }
  }

  @media (max-width:767px)
  {
	.ressources-docs .grid{
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, auto); 
	  }
  }

  

/* TOOLS */

  
.tools{
	margin-left: auto;
    margin-right: auto;
}

.tools h1{
	background: -webkit-linear-gradient(top, #23CE6B 10%, #EDF5FC 90%);
	background-clip: border-box;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-size: 36px;
	text-align: center;
	letter-spacing: -3px;
}

.tools .col{
	background: #B8C5D6;
	text-align: center;
	padding: 3%;
	border-radius: 10px;
	border: 2px solid #1e224c;
	display: flex;
    flex-direction: column;
    justify-content: center;
}


.tools .col img{
	padding-top: 5%;
	width: 50%;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle; /* aligner verticalement les images */
}

.tools .grid{
	padding: 3% 10% 8% 10%;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto); 
    grid-column-gap: 10px; 
    grid-row-gap: 30px;
  }


  @media (min-width:1001px)
  {
	.tools .grid{
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto); 
	  }
  }

  @media (max-width:767px)
  {
	.tools .grid{
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(9, auto); 
	  }
  }


  .tools .grid a:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
	z-index:10;
	cursor: pointer;
}

.tools a{
	transition: all 0.5s ease-out;
	border-radius: 10px;
}


/*video*/
.background-video{
	margin-left: auto;
  margin-right: auto;
}



/*pictures*/
.images-proxima img{
	cursor: pointer;
  }

  .images-proxima{
	margin-left: auto;
	margin-right: auto;
  }

  .grid-pictures{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); 
    grid-column-gap: 10px; 
    grid-row-gap: 10px;
  }

  @media (min-width:1001px)
  {
	.grid-pictures{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, auto); 
		grid-column-gap: 10px; 
		grid-row-gap: 10px;
	  }
  }

  @media (max-width:767px)
  {
	.grid-pictures{
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(4, auto); 
		grid-column-gap: 10px; 
		grid-row-gap: 10px;
	  }
  }

  .grid-pictures .col{
	padding: 4% 0% 4% 0%;
  }

  .item1 {
	grid-row-start: 1;
	grid-row-end: 3;
  }

  .images-proxima h1{
	background: -webkit-linear-gradient(top, #23CE6B 10%, #EDF5FC 90%);
	background-clip: border-box;
	background-clip: text;
	-webkit-background-clip: text;
    color: transparent;
    font-size: 36px;
    margin-bottom: 4%;
    text-align: center;
}

.images-proxima img{
    max-width: 350px; /* Limiter la largeur de l'image */
    display: block; /* Pour centrer l'image */
    margin: 0 auto; /* Pour centrer l'image */
    margin-top: 5%;
}