/* Ressources docs with infos */
.ressources-docs{
	background-color: #C7B7A3;
}

.ressources-docs h1{
	background:  -webkit-linear-gradient(top, #d37e0e 10%, #440505 90%);
	background-clip: border-box;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	padding-top: 40px;
	font-size: 36px;
	text-align: center;
	letter-spacing: -3px;
	line-height: 1.1;
}

.ressources-docs a {
	font-size: 1.75rem;
	letter-spacing: -1.5px;
	text-decoration: none;
	color: black;
	font-weight: 700;
	letter-spacing: -2px;
	transition: 0.5s;
}


.ressources-docs .grid div:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
	z-index:10;
	cursor: pointer;
    color: #353e9b;
}

.ressources-docs .grid{
	padding: 3% 10% 5% 10%;
	text-align: center;
}

@media (min-width:767px) {
	.grid{
		display: flex;
	}
}

.grid div {
	border-radius: 10px;
	padding: 3% 4% 3% 4%;
	background: #E8D8C4;
	transition: all 0.5s ease-out;
}


.ressources-docs .grid{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); 
    grid-column-gap: 10px; 
    grid-row-gap: 30px;
  }

  

  @media (min-width:767px) and (max-width:1001px) 
    {
	.last-item{
		grid-column: 1/span 2;
	  }
  }

  @media (min-width:1001px)
  {
	.ressources-docs .grid{
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, auto); 
	  }
  }

  @media (max-width:767px)
  {
	.ressources-docs .grid{
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(6, auto); 
	  }
  }

  
/*Members section*/

.tools{
	background-color: #C7B7A3;
}

.tools h1{
	background:  -webkit-linear-gradient(top, #d37e0e 10%, #440505 90%);
	background-clip: border-box;
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	font-size: 36px;
	text-align: center;
	letter-spacing: -3px;
}

.tools .col{
	background: #E8D8C4;
	text-align: center;
	padding: 3%;
	border-radius: 10px;
	border: 2px solid #1e224c;
	display: flex;
    flex-direction: column;
    justify-content: center;
}


.tools .col img{
	padding-top: 5%;
	width: 50%;
    margin-left: auto;
    margin-right: auto;
	vertical-align: middle; /* aligner verticalement les images */
}

.tools .grid{
	padding: 3% 10% 8% 10%;
	text-align: center;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto); 
    grid-column-gap: 10px; 
    grid-row-gap: 30px;
  }


  @media (min-width:1001px)
  {
	.tools .grid{
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, auto); 
	  }
  }

  @media (max-width:767px)
  {
	.tools .grid{
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(9, auto); 
	  }
  }


 


  .tools .grid a:hover {
	box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
	z-index:10;
	cursor: pointer;
}

.tools a{
	transition: all 0.5s ease-out;
	border-radius: 10px;
}