h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: .5rem;
  font-family: inherit;
  font-weight: 500;
  line-height: 1.2;
  color: #ffffff;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs, .col-xs-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto, .col-xxl-1, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl, .col-xxl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.col-5 {
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.offset-1 {
  margin-left: 8.33333%;
}

.offset-3 {
  margin-left: 25%;
}

@media (min-width: 768px) {
  .col-md-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
}

@media (min-width: 768px) {
  .offset-md-4 {
    margin-left: 33.33333%;
  }
}

.bg-dark {
  background-color: #343a40 !important;
}

.d-none {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

@media (min-width: 362px) {
  .d-xs-block {
    display: block !important;
  }
}

@media (min-width: 576px) {
  .d-sm-block {
    display: block !important;
  }
}

.flex-row {
  flex-direction: row !important;
}

.flex-column {
  flex-direction: column !important;
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.text-justify {
  text-align: justify !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-light {
  color: #f8f9fa !important;
}

h4 {
  font-size: 1.05rem;
}

h5 {
  font-size: .875rem;
}

h6 {
  font-size: .7rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.35;
  margin-bottom: .35rem;
}

p {
  font-size: .7rem;
  line-height: 1.5;
  margin-bottom: .35rem;
}

ul {
  font-size: .7rem;
  line-height: 1.5;
  margin-bottom: .35rem;
}

.my-timeline-header {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.my-item-start-right .my-card {
  margin-top: 0;
}

.my-item-start-right .my-card .my-card-text-col {
  border-color: #dc3545;
  border-style: solid;
  border-width: .5rem;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  padding: .75rem;
  border-bottom: 0;
}

.my-item-start-right .my-card .my-card-text-col .my-card-text {
  border-color: #6610f2;
  border-radius: .5rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  padding: .25rem;
  padding-bottom: 0;
  width: 100%;
  margin-top: -.5rem;
  box-shadow: #6610f2 -0.25rem -0.25rem 1.5rem 0;
}

.my-item-start-right .my-card .my-card-image-col {
  padding: 0;
}

.my-item-start-right .my-card .my-card-image-col .my-card-image {
  border-color: #dc3545;
  border-radius: 50%;
  border-style: solid;
  border-width: .5rem;
  border-bottom-left-radius: 0;
  border-left: 0;
  border-top-left-radius: 0;
}

.my-item-middle-left .my-card {
  margin-top: -.5rem;
}

.my-item-middle-left .my-card .my-card-text-col {
  border-color: #dc3545;
  border-style: solid;
  border-width: .5rem;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  padding: .75rem;
  border-bottom: 0;
  border-top: 0;
}

.my-item-middle-left .my-card .my-card-text-col .my-card-text {
  border-color: #6610f2;
  border-radius: .5rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  padding: .25rem;
  padding-bottom: 0;
  width: 100%;
  box-shadow: #6610f2 0.25rem -0.25rem 1.5rem 0;
}

.my-item-middle-left .my-card .my-card-image-col {
  padding: 0;
}

.my-item-middle-left .my-card .my-card-image-col .my-card-image {
  border-color: #dc3545;
  border-radius: 50%;
  border-style: solid;
  border-width: .5rem;
  border-bottom-right-radius: 0;
  border-right: 0;
  border-top-right-radius: 0;
}

.my-item-middle-right .my-card {
  margin-top: -.5rem;
}

.my-item-middle-right .my-card .my-card-text-col {
  border-color: #dc3545;
  border-style: solid;
  border-width: .5rem;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  padding: .75rem;
  border-bottom: 0;
  border-top: 0;
}

.my-item-middle-right .my-card .my-card-text-col .my-card-text {
  border-color: #6610f2;
  border-radius: .5rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  padding: .25rem;
  padding-bottom: 0;
  width: 100%;
  box-shadow: #6610f2 -0.25rem -0.25rem 1.5rem 0;
}

.my-item-middle-right .my-card .my-card-image-col {
  padding: 0;
}

.my-item-middle-right .my-card .my-card-image-col .my-card-image {
  border-color: #dc3545;
  border-radius: 50%;
  border-style: solid;
  border-width: .5rem;
  border-bottom-left-radius: 0;
  border-left: 0;
  border-top-left-radius: 0;
}

.my-item-end-left .my-card {
  margin-top: -.5rem;
}

.my-item-end-left .my-card .my-card-text-col {
  border-color: #dc3545;
  border-style: solid;
  border-width: .5rem;
  border-left: 0;
  border-radius: 0;
  border-right: 0;
  padding: .75rem;
  border-top: 0;
}

.my-item-end-left .my-card .my-card-text-col .my-card-text {
  border-color: #6610f2;
  border-radius: .5rem;
  border-style: solid;
  border-width: .125rem;
  box-sizing: border-box;
  padding: .25rem;
  padding-bottom: 0;
  width: 100%;
  box-shadow: #6610f2 0.25rem -0.25rem 1.5rem 0;
}

.my-item-end-left .my-card .my-card-image-col {
  padding: 0;
}

.my-item-end-left .my-card .my-card-image-col .my-card-image {
  border-color: #dc3545;
  border-radius: 50%;
  border-style: solid;
  border-width: .5rem;
  border-bottom-right-radius: 0;
  border-right: 0;
  border-top-right-radius: 0;
}

.my-timeline-footer {
  padding-bottom: 1rem;
  padding-top: 1rem;
}

@media (min-width: 362px) {
  h4 {
    font-size: 1.125rem;
  }
}

@media (min-width: 362px) {
  h5 {
    font-size: .9375rem;
  }
}

@media (min-width: 362px) {
  h6 {
    font-size: .75rem;
  }
}

@media (min-width: 362px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.35;
    margin-bottom: .375rem;
  }
}

@media (min-width: 362px) {
  p {
    font-size: .75rem;
    line-height: 1.5;
    margin-bottom: .375rem;
  }
}

@media (min-width: 362px) {
  ul {
    font-size: .75rem;
    line-height: 1.5;
    margin-bottom: .375rem;
  }
}

@media (min-width: 576px) {
  h4 {
    font-size: 1.2rem;
  }
}

@media (min-width: 576px) {
  h5 {
    font-size: 1rem;
  }
}

@media (min-width: 576px) {
  h6 {
    font-size: .8rem;
  }
}

@media (min-width: 576px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.35;
    margin-bottom: .4rem;
  }
}

@media (min-width: 576px) {
  p {
    font-size: .8rem;
    line-height: 1.5;
    margin-bottom: .4rem;
  }
}

@media (min-width: 576px) {
  ul {
    font-size: .8rem;
    line-height: 1.5;
    margin-bottom: .4rem;
  }
}

@media (min-width: 768px) {
  h4 {
    font-size: 1.275rem;
  }
}

@media (min-width: 768px) {
  h5 {
    font-size: 1.0625rem;
  }
}

@media (min-width: 768px) {
  h6 {
    font-size: .85rem;
  }
}

@media (min-width: 768px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.35;
    margin-bottom: .425rem;
  }
}

@media (min-width: 768px) {
  p {
    font-size: .85rem;
    line-height: 1.5;
    margin-bottom: .425rem;
  }
}

@media (min-width: 768px) {
  ul {
    font-size: .85rem;
    line-height: 1.5;
    margin-bottom: .425rem;
  }
}

@media (min-width: 992px) {
  h4 {
    font-size: 1.35rem;
  }
}

@media (min-width: 992px) {
  h5 {
    font-size: 1.125rem;
  }
}

@media (min-width: 992px) {
  h6 {
    font-size: .9rem;
  }
}

@media (min-width: 992px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.35;
    margin-bottom: .45rem;
  }
}

@media (min-width: 992px) {
  p {
    font-size: .9rem;
    line-height: 1.5;
    margin-bottom: .45rem;
  }
}

@media (min-width: 992px) {
  ul {
    font-size: .9rem;
    line-height: 1.5;
    margin-bottom: .45rem;
  }
}

@media (min-width: 1200px) {
  h4 {
    font-size: 1.425rem;
  }
}

@media (min-width: 1200px) {
  h5 {
    font-size: 1.1875rem;
  }
}

@media (min-width: 1200px) {
  h6 {
    font-size: .95rem;
  }
}

@media (min-width: 1200px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.35;
    margin-bottom: .475rem;
  }
}

@media (min-width: 1200px) {
  p {
    font-size: .95rem;
    line-height: 1.5;
    margin-bottom: .475rem;
  }
}

@media (min-width: 1200px) {
  ul {
    font-size: .95rem;
    line-height: 1.5;
    margin-bottom: .475rem;
  }
}

@media (min-width: 1600px) {
  h4 {
    font-size: 1.5rem;
  }
}

@media (min-width: 1600px) {
  h5 {
    font-size: 1.25rem;
  }
}

@media (min-width: 1600px) {
  h6 {
    font-size: 1rem;
  }
}

@media (min-width: 1600px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.35;
    margin-bottom: .5rem;
  }
}

@media (min-width: 1600px) {
  p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: .5rem;
  }
}

@media (min-width: 1600px) {
  ul {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: .5rem;
  }
}

