* {
  margin: 0;
  padding: 0;
  font-family: 'Anton', sans-serif;
}

.header {
  min-height: 100vh;
  width: 100%;
  background-image: url("Image/Fond.png");
  background-position: center;
  background-size: cover;
  position: relative;
  filter: brightness(100%);
}

nav {
  display: flex;
  padding: 1% 1%;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #1e224c, #e06743);
  border: none;
  color: white;
  text-decoration: none;
  font-size: 1rem;
  margin: 0px 0px;
}

nav img {
  width: 5rem;
}

.nav-links {
  margin-top: 40px;
  flex: 2;
  text-align: left;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 0px 15px;
  position: relative;
}

.nav-links ul li a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 18px;
}

.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 2px;
  background: #f44336;
  display: block;
  margin: 0;
  transition: 0.5s;
}

.nav-links ul li:hover::after {
  width: 100%;
}

.text-box {
  /*color: white;*/
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background: -webkit-linear-gradient(top, #070927 , #d33c0e );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

@media (max-width: 768px) {
  .text-box h1 {
    font-size: 13vw;
    background: -webkit-linear-gradient(top, #d33c0e 10%, #1e224c 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
.text-box p {
  font-size: 6vw;
  color: #171a3d;
}
}

@media (min-width: 769px) {
  .text-box h1 {
    font-size: 110px;
    background: -webkit-linear-gradient(top, #d33c0e 10%, #1e224c 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
  
.text-box p {
  font-size: 50px;
  /*background: -webkit-linear-gradient(top,#1e224c , #010209 );*/
  /*background-clip: text;*/
  /*-webkit-background-clip: text;*/
  /*color: transparent;*/
  color: #171a3d;
}
}

.custom-button {
  border-right-color: transparent !important;
}

.bouton {
  /*background-color: black;*/
  /*border: none;*/
  /*color: white;*/
  /*padding: 1rem;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*display: inline-block;*/
  /*font-size: 1rem;*/
  /*margin: 4px 2px;*/
  /*border-radius: 2rem;*/
  display: inline-block;
  text-decoration: none;
  color: #ee4719;
  border: 2px solid black;
  padding: 15px 30px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
  background: rgba(0,0,0,.6);
}

.bouton:hover {
  border: 1px solid #1e224c;
  background: #1e224c;
  transition: 1s;
}

.bouton2 {
  /*background-color: black;*/
  /*border: none;*/
  /*color: white;*/
  /*padding: 1rem;*/
  /*text-align: center;*/
  /*text-decoration: none;*/
  /*display: inline-block;*/
  /*font-size: 1rem;*/
  /*margin: 4px 2px;*/
  /*border-radius: 2rem;*/
  display: inline-block;
  text-decoration: none;
  color: #ee4719;
  box-shadow: 0 0 0 2px black; /* Ajoute une ombre noire autour du bouton */
  padding: 15px 30px;
  font-size: 20px;
  background: transparent;
  position: relative;
  cursor: pointer;
  background: rgba(0,0,0,.6);
}

.bouton2:hover {
  background: #1e224c;
  transition: 1s;
}

.Menu {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;
}

h1 {
  font-size: 36px;
  font-weight: 600;
}

p {
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

p2 {
  color: black;
  font-size: 15px;
  font-weight: 300;
  line-height: 10px;
  padding: 40px;
}




.col {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  text-decoration: none;
  color: black;
}
.liste-sout {
  text-align: left;
  font-size: 17px;
}

row56 {
  display: flex;
}

.col56 {
  flex: 1; 
  padding: 1em;
  border: solid;
}

h3 {
  text-align: center;
  font-weight: 200;
  margin: 10px 0;
}

.col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

/* ----Footer---- */

.footer {
  width: 100%;
  text-align: center;
  padding: 30px 0;
}

.footer h4 {
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 200;
}

.icons .fa {
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart-o {
  color: #f44336;
}


/* ---------- Histoire ------- */

.sub-header {
  text-align: center;
}

.sub-header h1 {
  background: -webkit-linear-gradient(top, #d33c0e 10%, #1e224c 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 40px;
  font-size: 200;
}

img {
  margin-top: 50px;
  width: 300px;
  height: auto;
}

.row36 {
  margin-left: 5vw;
  margin-right: 5vw;
}

.row36 p {
  font-size: x-large;
  color: #070927;
  font-family: 'Dancing Script', cursive;
}

.row1 {
  margin-left: 100px;
  margin-right: 100px;
}

.row1 p {
  font-size: x-large;
  color: #070927;
  font-family: 'Dancing Script', cursive;
}

.staff {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
/* Ajout de la règle pour les écrans de taille très petite */
@media (max-width: 390px) {
  .col1 {
    flex-basis: 90%; /* Réduire la flex-basis à 50% pour afficher 2 éléments par ligne */
  }
}

/* Ajout de la règle pour les écrans de taille petite */
@media (min-width: 391) and (max-width: 600px) {
  .col1 {
    flex-basis: calc(50% - 2.5%); /* Réduire la flex-basis à 50% pour afficher 2 éléments par ligne */
  }
}



@media (min-width: 601px) and (max-width: 1080px) {
  .container {
    flex-wrap: wrap;
  }

  .col1 {
    flex-basis: calc(50% - 2.5%); /* Réduire la flex-basis à 50% pour afficher 2 éléments par ligne */
    margin-bottom: 2.5%;
  }
}

/* Ajout de la règle pour les écrans de taille moyenne et grande */
@media (min-width: 1081px) {
  .col1 {
    flex-basis: calc(25% - 2.5%); /* Réduire la flex-basis à 25% pour afficher 4 éléments par ligne */
    margin-bottom: 2.5%; /* Ajouter un espace inférieur de 2.5% pour équilibrer l'espace */
  }
}


.col1 {
  flex-direction: column;
  flex-grow: 1; /* Ajout de la propriété flex-grow */
  background: -webkit-linear-gradient(top, #1f2574 , #d33c0e );
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  border: 2px solid black;
  box-sizing: border-box;
  transition: 0.5s;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  align-items: center
}
.col1 h3 {
  white-space: nowrap; /* Empêche le texte de se retourner à la ligne */
  overflow: hidden; /* Masque le texte excédentaire */
  text-overflow: ellipsis; /* Ajoute des points de suspension si le texte dépasse */
}

.row {
  margin-top: 4%;
  display: flex;
}


@media (min-width: 576px) {
  .col1-sm {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (min-width: 768px) {
  .col1-md {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}
.col1 img {
  max-width: 100%;
  height: auto;
}
/* Ajout de la règle pour les écrans de taille large */
@media (min-width: 992px) {
  .col1 {
    flex-basis: calc(25% - 2.5%); /* Réduire la flex-basis à 25% pour afficher 4 éléments par ligne */
    margin-bottom: 2.5%; /* Ajouter un espace inférieur de 2.5% pour équilibrer l'espace */
  }
}

@media (min-width: 1200px) {
  .col1-xl {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }
}


.col59 {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  text-decoration: none;
  color: black;
}


.col2 {
  flex-basis: 31%;
  margin-bottom: 5%;
  padding: 10px;
}

.col1 p {
  color: black;
  font-size: medium;
  font-family: 'EB Garamond', serif;
}

.col1 h3 {
  color: whitesmoke;
}

#column_gap {
  column-count: 1;
  column-gap: 2em;
}
#row_gap {
  row-gap: 2;
}


/* -------------liens---------- */

.image-size4 {
  max-width: 100%;
  height: auto;
}

.custom-column4 {
  height: 20px; /* Ajustez la hauteur selon vos besoins */
}

.custom-margin4 {
  margin-top: -30px;
}

.sub2-header {
  text-align: center;
}

.sub2-header h1 {
  margin-top: 20px;
  background: -webkit-linear-gradient(top, #d33c0e 10%, #1e224c 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.row2 {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.outils {
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  text-decoration: none;
  color: black;
}

#github {
  font-size: 1em;
  background-color: #18191f;
  color: #fff;
  box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080, 2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080;
  border-radius: 10px;
  padding: 7px 10px;
  margin: 0 40px;
  animation: animate 3s linear infinite;
  text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff, 0 0 200px #0072ff;
}

#github {
  animation-delay: 0.1s;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}

.image-container2 {
  width: fit-content;
}

@media (max-width: 768px) {
  .image-container img {
      max-height: 100px;
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .image-container img {
      max-height: 150px;
  }
}

@media (min-width: 1201px) {
  .image-container img {
      max-height: 300px;
  }
}

/* -------------Down---------- */

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  column-count: 2;
}


.content {
  display: flex;
  flex-direction: column;
}

.text-box2 {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  /*color: white;*/
  background: -webkit-linear-gradient(top, #070927 , #d33c0e );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  border: black;
}

.text-box2 h1 {
  font-size: 100px;
  background: -webkit-linear-gradient(top, #d33c0e 10%, #1e224c 90%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.text-box2 p {
  font-size: 35px;
  /*background: -webkit-linear-gradient(top,#1e224c , #010209 );*/
  /*background-clip: text;*/
  /*-webkit-background-clip: text;*/
  /*color: transparent;*/
  color: #171a3d;
}

table2 {
  border-collapse: collapse;
}

td2 {
  padding: 10px;
}
.image-container3 {
  display: flex;
  flex-direction: column; /* Aligner les images verticalement */
  align-items: center; /* Centrer les images horizontalement */
}

@media screen and (max-width: 650px) {
  .image-container3 table tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 120px;
  }

  .image-container3 table td {
    display: flex; /* Ajouter cette ligne */
    justify-content: center; /* Ajouter cette ligne */
    align-items: center; /* Ajouter cette ligne */
    margin-bottom: 20px;
    width: auto;
  }
}

@media screen and (max-width: 1024px) {
  .image-container3 table td {
    flex: 0 0 50%;
  }
}

.image-container3 table {
  display: block;
}

/* Pour les écrans de taille supérieure à 768px */
@media (min-width: 650px) {
  .image-container3 table .row1,
  .image-container3 table .row2 {
    display: table-row; /* Afficher les lignes en tant que lignes de tableau */
  }

  .responsive-image {
    width: 100%; /* Modifier cette ligne */
    height: auto; /* Modifier cette ligne */
  }
}



/* Pour les écrans de taille supérieure à 1024px */
@media (min-width: 1024px) {
  .row1 td {
    grid-column: 1 / 4; /* Les trois colonnes de la première ligne */
  }


  .image-container3 table {
    grid-template-columns: repeat(3, 1fr);
  }
}